@import "tailwindcss";

* {
  /* outline: 1px solid red; */
}

@theme {
  --color-paper: #FAFAF8;
  --color-ink: #1A1A1A;
  --color-graphite: #6B6B6B;
  --color-accent: #3D5AFE;
  --color-line: #E5E5E0;

  --font-display: var(--font-fraunces);
  --font-body: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}

@layer base {
  .dark {
    --color-paper: #111110;
    --color-ink: #F5F5F3;
    --color-graphite: #9B9B9B;
    --color-accent: #738BFF;
    --color-line: #2A2A28;
  }
}