@import "tailwindcss";

* {
  /* outline: 1px solid red; */
}

@theme {
  --color-paper: #FAFAF8;
  --color-ink: #1A1A1A;
  --color-graphite: #6B6B6B;
  --color-accent: #3D5AFE;
  --color-line: #E5E5E0;

  --font-display: var(--font-fraunces);
  --font-body: var(--font-inter);
  --font-mono: var(--font-jetbrains-mono);
}